<!--///////////////////////////////////////////////////////////////////////////////////////////////////////
    FILE  : navbar.component.html
    AUTHOR : Pranav Sehgal
////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<body style="max-height: 60px;">
<!-- If Logged In-->
    <div  *ngIf="this.logged()" class = "navbar_container">
        <!--COMMON Views -->
        <div    (click)="this.move_to('dashboard')" class = "navbar_component">
            Borrows
        </div>

        <div (click)="this.move_to('books/view')" class = "navbar_component">
            Books
        </div>

        <div *ngIf="isAdmin()" (click)="this.move_to('tags/view')" class = "navbar_component">
            Tags
        </div>

        <div (click)="this.log_out()" class = "navbar_component" style="float: right; background-color: rgb(254, 152, 152);">
            Logout
        </div>
        <div (click)="this.move_to('accPage')" class = "navbar_component" style="float: right;">
            Account Page</div>
    </div>
<!-- If Not Logged In-->
    <div *ngIf="!this.logged()"  class = "navbar_container">
        <div (click)="this.move_to('login')" class = "navbar_component" style="float: right; background-color: greenyellow;">
            Login
        </div>
    </div>
</body>
